# HackDavis 2021 Project

   at this current phase, we will be fetching the data from both yahoo fincance and google

In [19]:
import yfinance as yf
import numpy as np
import pandas as pd
import datetime as dt
import pandas_datareader
import pandas_datareader.data as web
import matplotlib.pyplot as plt
%matplotlib inline

#  after importing the libraries, I will be fethcing data 

both google and yahoo finance will be used and we'll have data sets then we will see which one is the best for us to continue with

The company will be Apple and the dates will be between 2009 and current date

In [27]:
start_date_yf, end_date_yf = '2009-01-01', '2021-01-16'

In [28]:
apple_yf = yf.download('aapl', start=start_date_yf, end= end_date_yf) #using yfinance, we can add more intervals

[*********************100%***********************]  1 of 1 completed

In [29]:
apple_yf

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2009-01-02,3.067143,3.251429,3.041429,3.241071,2.795913,746015200
2009-01-05,3.327500,3.435000,3.311071,3.377857,2.913912,1181608400
2009-01-06,3.426786,3.470357,3.299643,3.322143,2.865849,1289310400
2009-01-07,3.278929,3.303571,3.223572,3.250357,2.803923,753048800
2009-01-08,3.229643,3.326786,3.215714,3.310714,2.855991,673500800
...,...,...,...,...,...,...
2021-01-11,129.190002,130.169998,128.500000,128.979996,128.979996,100620900
2021-01-12,128.500000,129.690002,126.860001,128.800003,128.800003,91951100
2021-01-13,128.759995,131.449997,128.490005,130.889999,130.889999,88636800
2021-01-14,130.800003,131.000000,128.759995,128.910004,128.910004,90221800
2021-01-15,128.779999,130.220001,127.000000,127.139999,127.139999,111235300