In [1]:
import yfinance as yf

In [2]:
yf.download('aapl')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.101087,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095813,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088780,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090978,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093615,73449600
...,...,...,...,...,...,...
2021-01-11,129.190002,130.169998,128.500000,128.979996,128.979996,100620900
2021-01-12,128.500000,129.690002,126.860001,128.800003,128.800003,91951100
2021-01-13,128.759995,131.449997,128.490005,130.889999,130.889999,88636800
2021-01-14,130.800003,131.000000,128.759995,128.910004,128.910004,90221800
2021-01-15,128.779999,130.220001,127.000000,127.139999,127.139999,111235300